.spinner-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.spinner-container small{
    color: #6229b2;
    margin-top: 20px;
}